/* google fonts - CSS rules to specify families: font-family: 'Open Sans', sans-serif; */

/* ELEMENTS */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: skyblue;
}

img {
    display: none;
}

/* CLASSES */


/* IDs */
#header {
    background-color: lightskyblue;
    font-size:x-large;
}

#sidebar {
    background-color: lightgray;
}

#city-display {
    background-color:steelblue;
    font-size:large;
}

#five-day {
    background-color: rgb(176, 176, 176);
}

#five-day-header {
    background-color: slategray;
}

/* PSEUDO and INTERACTIVE */